<div class="table-responsive">
    <table class="table">
    <thead class="thead-default">
        <tr>
        <th>Round</th>
        <th>Winer</th>
    </thead>
    <tbody>
        <tr ng-repeat="beat in beats">
            <td>{{$index}}</td>
            <td>{{beat.player}}</td>
        </tr>
    </tbody>
    </table>
</div>