<section class="row">
  <div class="col-md-12 info-container">
    <h1>We have a WINNER!</h1>
    <h3>{{finish.winner}} is the New EMPEROR!</h3>
    <button class="btn btn-default" ng-click="finish.start()">Play Again</button>
  </div>
</section>
