<div class="row">
  <div class="col-md-6 form-group">
      <div class="text-center">
        <h3>Round {{play.round}}</h3>
      </div>
      <div class="text-center">
        <h2>{{play.player}}</h2>
      </div>
      <form name="moveForm">
        <div class="form-group row">
            <label for="repeatSelect">Select your move:</label>
            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="play.playerMove" required>
                <option ng-repeat="option in play.moves" value="{{option}}">{{option.move}}</option>
            </select>
        </div>
        <div class="form-group row">
           <div class="center-block">
                <button type="button" class="btn btn-primary btn-lg center-block" ng-click="play.setPlayerMove()" ng-disabled="moveForm.$invalid">Play</button>
            </div>
        </div>
        </form>
  </div>
  <div class="col-md-6 info-container">
    <div class="text-center">
        <h3>Score</h3>
    </div>
    <beats></beats>
  </div>
</div>

