<div class="table-responsive">
    <table class="table">
    <thead class="thead-default">
        <tr>
        <th>Player</th>
        <th>Wins</th>
    </thead>
    <tbody>
        <tr ng-repeat="record in records | orderBy: '-wins'">
            <td>{{record.player}}</td>
            <td>{{record.wins}}</td>
        </tr>
    </tbody>
    </table>
</div>