<div class="row">
  <div class="col-md-6 info-container">
      <div class="text-center">
        <h3>Enter Player´s Names</h3>
      </div>
      <form name="starGameForm">
        <div class="form-group row">
            <label for="player1" class="col-sm-2 form-control-label">Player 1:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="player1" name="player1" ng-model="start.player1" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="player2" class="col-sm-2 form-control-label">Player 2:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="player2" name="player2" ng-model="start.player2" required>
            </div>
        </div>
        <div class="form-group row">
           <div class="center-block">
                <button type="button" class="btn btn-primary btn-lg center-block" ng-disabled="starGameForm.$invalid" ng-click="start.startGame()">Play</button>
            </div>
        </div>
        </form>
  </div>
  <div class="col-md-6 info-container">
    <div class="text-center">
        <h3>Player´s Records</h3>
    </div>
    <records></records>
  </div>
</div>
